<div style="padding-top:20px;padding-bottom:20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <input type="text" name="devConsoleInput" class="form-control input-lg">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="devConsoleOutput">

        </div>
      </div>
    </div>
  </div>
</div>
